.table-primary thead {
    background-color: #3c8dbccc;
}

.btn-primary {
    background-color: #367fa9;
    border-color: #367fa9;
}

.user-panel>.image>img {
    object-fit: cover;
}

.table-bordered tbody tr td img {
    max-width: 100px;
    max-height: 60px;
    object-fit: contain;
}

/* button toggle start */
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.3em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #9fccfa;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.3em;
    width: 1.3em;
    inset: 0;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked+.slider {
    background: #0974f1;
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px #0974f1;
}

.switch input:checked+.slider:before {
    transform: translateX(1.3em);
    -webkit-transform: translateX(1.3em);
    -moz-transform: translateX(1.3em);
    -ms-transform: translateX(1.3em);
    -o-transform: translateX(1.3em);
}

/* button toggle end */